header{
    padding:  30px 50px;
    background-color:  #aaaaaa;
}

.cabecera{
    width: 100%;
    position: static;
    margin: 0 auto;
}

h1{
    d;
    padding: 50px 50px;
    font-size: 30px;
    color: #eeeeee;
}